# Javascript Node CircleCI 2.0 configuration file
version: 2
jobs:
  build:
    working_directory: ~/firebase-functions-backend-playground
    docker:
      # specify the version you desire here
      - image: circleci/node:7.10
    steps:
      - checkout
      - run: 
          name: Install npm dependencies...
          command: npm install
      - run: 
          name: Install firebase-tools...
          command: npm install -g firebase-tools
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run: 
          name: Install npm dependencies inside functions...
          command: npm install -prefix "functions"
      - save_cache:
          paths:
            - functions/node_modules
          key: dependency-cache-{{ checksum "package.json" }}

  deploy-dev:
    docker:
      - image: circleci/node:7.6.0
    working_directory: ~/firebase-functions-backend-playground
    steps:
      - run: |
          echo Deploying to firebase...
          firebase use --token ${FIREBASE_DEPLOY_TOKEN} ${PROJECT_ID}
          firebase deploy --token ${FIREBASE_DEPLOY_TOKEN}
  deploy-prod:
    docker:
      - image: circleci/node:7.6.0
    working_directory: ~/firebase-functions-backend-playground
    steps:
      - run: |
          echo Deploying to firebase...
          firebase use --token ${FIREBASE_DEPLOY_TOKEN} ${PROJECT_ID}
          firebase deploy --token ${FIREBASE_DEPLOY_TOKEN}
workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy-dev:
          requires:
            - build
          filters:
            branches:
              only: /dev-.*/
      - deploy-prod:
          requires:
            - build
          filters:
            branches:
              only: master          